* {
  font-family     : Helvetica, Arial, sans-serif;
}

body {
  padding         : 60px;
}

input {
  width     : 100%;
  border    : coral .2px solid;
  margin    : 10px 0;
  color     : darkslateblue;
  font-size : 1.2rem;
}

input:focus {
  color            : whitesmoke;
  font-weight      : bold;
  background-color : teal;
  border           : tomato .5em solid ;  
  padding          : 1em;

}

input:hover {
  background-color : teal;
  border           : goldenrod 4px dashed;
}

input::placeholder {
  color   : teal;
  padding : 10px;

}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px teal solid;
  padding: 3px 0;
}


.card {
  width         : 200px;
  height        : 200px;  

  border        : 2px solid coral;
  border-radius : 6px;

  margin-bottom : 10px;
  margin-right  : 5px;
  margin-left   : 5px;
  
  text-align     : center;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  padding        : 3px 0px;
}

.card p { 
  align-content: center;

}

img {
  max-height: 170px;
  max-width: 170px;
  align-content:space-between;
}

